.create-notes-container {
    display: flex;
    flex-direction: column;
}

.create-notes-container .new-title {
    font-weight: 300;
    font-size: 60px;
}

.create-notes-container .new-notes-content {
    font-size: large;
    overflow-y: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.create-notes-container button {
    width: 175px;
}